In [1]:
import pandas as pd

In [2]:
df_june = pd.read_csv(r'C:\Users\lynne\Documents\Bots\BigBots\code\bot_sorter\data_out\bot_sorter_2020_06.csv')
df_july = pd.read_csv(r'C:\Users\lynne\Documents\Bots\BigBots\code\bot_sorter\data_out\bot_sorter_2020_07.csv')

In [4]:
df_june.head()

,username,userid,num_posts,botornot,self_declared_bot,news_bot,bridging_bot,amplifier_bot,cyborg,content_generation_bot,announcer_bot,repeater_bot
0,manarellidiego,2583443602,6,False,False,False,False,True,False,True,False,False
1,alfedani,443693840,1,True,False,False,False,True,False,False,False,False
2,Tearsforanswer,1262862818690334721,1,False,False,False,False,True,False,True,False,False
3,sbsk02,141027864,6,False,False,False,False,True,False,True,False,True
4,mekansaracoglu,1125385611387527169,2,True,False,False,False,True,False,True,False,True

In [5]:
df_june_bot = df_june[df_june['botornot'] == True]
df_july_bot = df_july[df_july['botornot'] == True]

df_june_bot_list = set(df_june_bot['userid'].tolist())
df_july_bot_list = set(df_july_bot['userid'].tolist())

In [8]:
len(df_june_bot_list.intersection(df_july_bot_list))

2663